= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"

:javascript
  // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher('#{PUSHER_KEY}');
      var channel = pusher.subscribe("site-#{@site.id}-channel");
      channel.bind('new-request', function(data) {
        console.log(data);
        newOrder(data['place'], data['message']);
        update = "<li>" + data['message'] + "</li>";
        $('#live-updates').append(update);
      });

= render :partial => 'site', :locals => {site:  @site}

%ul#live-updates


